<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WITP || Wissenaire'24</title>
    <link rel="stylesheet" href="pr.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap">
</head>

<body>

    <!--MAIN IMAGE-->
    <section class="container1">
        <div class="main-heading d-flex justify-content-center align-items-center">
            <h1>DIGITAL MARKETING</h1>
        </div>
    </section>
    <div class="container2a d-flex justify-content-center align-items-center">
        <div class="main-img">
            <img src="./dm.png" />
        </div>
    </div>

    <!--About Page-->
    <section id="aboutpage">
        <div class="container2">
            <div class="contact-title" data-aos="fade-left" data-aos-delay="100" data-splitting="chars"
                style="color: rgb(30,203,225)" ;>
                <h2>About</h2>
            </div>
            <div id="about" class="p-4" data-aos="flip-right" data-aos-delay="100">
                <p>Digital marketing, or online marketing, is a form of advertising that uses the internet and digital
                    technologies to connect with customers. Rather than traditional media, such as print, radio, or
                    television, digital marketing uses computers, mobile, social media, search engines, and other
                    digital channels to reach consumers wherever they spend the most time.</p>
                <br><br>
                <p data-aos="fade-left" data-aos-delay="100">Time Duration: 30hrs</p>
                <p data-aos="fade-left" data-aos-delay="100">Course Certification: 4-8 Weeks</p>
                <p data-aos="fade-left" data-aos-delay="100">Cost:<span>&#8377;</span> 3499/-</p>
                <p data-aos="fade-left" data-aos-delay="100">Timeline:</p>
                <p data-aos="fade-left" data-aos-delay="100" style="padding-left: 2%;">Batch 1: 16 Dec 2023</p>
                <p data-aos="fade-left" data-aos-delay="100" style="padding-left: 2%;">Batch 2: 2 Jan 2024</p>
            </div>
        </div>
    </section>

    <!--Download Section-->
    <section id="btn" style="padding-top: 4%;">
        <div class="log col-md-12 d-flex align-items-center justify-content-center">
            <a href="https://forms.gle/z7F6SYyGSa6vojAE8"><button class="reg"> Register</button></a>
            <button class="buttondwn down d-flex" type="button">
                <span class="button__text">Syllabus</span>
                <span class="button__icon" id="download-pdf"><svg xmlns="http://www.w3.org/2000/svg"
                        style="color: black;" viewBox="0 0 35 35" id="bdd05811-e15d-428c-bb53-8661459f9307"
                        data-name="Layer 2" class="svg">
                        <path
                            d="M17.5,22.131a1.249,1.249,0,0,1-1.25-1.25V2.187a1.25,1.25,0,0,1,2.5,0V20.881A1.25,1.25,0,0,1,17.5,22.131Z">
                        </path>
                        <path
                            d="M17.5,22.693a3.189,3.189,0,0,1-2.262-.936L8.487,15.006a1.249,1.249,0,0,1,1.767-1.767l6.751,6.751a.7.7,0,0,0,.99,0l6.751-6.751a1.25,1.25,0,0,1,1.768,1.767l-6.752,6.751A3.191,3.191,0,0,1,17.5,22.693Z">
                        </path>
                        <path
                            d="M31.436,34.063H3.564A3.318,3.318,0,0,1,.25,30.749V22.011a1.25,1.25,0,0,1,2.5,0v8.738a.815.815,0,0,0,.814.814H31.436a.815.815,0,0,0,.814-.814V22.011a1.25,1.25,0,1,1,2.5,0v8.738A3.318,3.318,0,0,1,31.436,34.063Z">
                        </path>
                    </svg></span>
            </button>
        </div>
    </section>

    <!--Learn Page-->
    <section id="learnpage">
        <div class="container3">
            <div class="contact-title" data-aos="zoom-in-up " data-aos-offset="300" data-aos-delay="100"
                style="color: rgb(30,203,225)" ;>
                <h2 style="padding-top: 7%;">What Will You Learn</h2>
            </div>
            <section data-aos="zoom-in-up " data-aos="zoom-in-down" data-aos-offset="300" data-aos-delay="100"
                id="learn" class="p-4">
                <div id="box1" data-aos="fade-right" data-aos-delay="100"></div>
                <p>Digital marketing is crucial in today's corporate environment, providing individuals with the skills
                    to effectively use online platforms like social media, search engines, and email to reach a global
                    audience, boost online presence, engage with consumers, and drive sales. This flexible and in-demand
                    talent offers various job opportunities and helps individuals stay competitive in a digital-first
                    economy.</p>
            </section>
            <div data-aos="fade-left" data-aos-delay="100" id="box2"></div>
        </div>
    </section>

    <!--Count Down Page-->
    <section id="js">
        <div class="wrappera">
            <div class="containera">
                <i class="fa-solid fa-clock"></i>
                <span class="num" data-val="6">6</span>
                <span class="text">Weeks of workshop</span>
            </div>
            <div class="containera">
                <i class="fa-solid fa-calendar-week"></i>
                <span class="num" data-val="30">30</span>
                <span class="text">workshop Hours</span>
            </div>
            <div class="containera">
                <i class="fa-solid fa-list"></i>
                <span class="num" data-val="11">11</span>
                <span class="text">Sessions</span>
            </div>
        </div>
    </section>

    <!--
Perks and Benefits Page
<section id="pb">
     <div class="contact-title"><h2>Perks and Benefits</h2></div>
     <div  class="masonry-grid col-md-12 ">
        <div class="book masonry-item">
            <p>Live Online Internship and Training</p>
            <div class="cover">
                <p><img src="training.png" width="70px" height="100px"></p>
            </div>
        </div>
        <div class="book masonry-item">
            <p>Wissenaire IIT Bhubaneswar Certification</p>
            <div class="cover">
                <p><img src="comp_cer.png"  width="70px" height="100px"/></p>
            </div>
        </div>
        <div class="book masonry-item">
            <p>Student Progress Tracking through <br>our LMS</p>
            <div class="cover">
                <p><img src="tracking.png"  width="70px" height="100px"/></p>
            </div>
        </div>
        <div class="book masonry-item">
            <p>Classroom <br> Notes</p>
            <div class="cover">
                <p><img src="notes.png"  width="70px" height="100px"/></p>
            </div>
        </div>
        <div class="book masonry-item">
            <p>Certificate of Internship with project mention</p>
            <div class="cover">
                <p><img src="wiss_cer.png"  width="70px" height="100px"/></p>
            </div>
        </div>
    
</section>
-->

    <!--RoadMap Page-->
    <div id="roadmap">
        <div class="contact-title" style="width: 100%;">
            <h2 id="h2j">Road Map</h2>
        </div>
        <div class="rightbox">
            <div class="rb-container">
                <ul class="rb">
                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            Session 1
                        </div>
                        <div class="item-title">
                            Introduction about Digital Marketing
                        </div>
                    </li>
                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            Session 2
                        </div>
                        <div class="item-title">
                            Key Concepts of Digital Marketing
                        </div>
                    </li>

                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            Session 3
                        </div>
                        <div class="item-title">
                            Basics of Facebook Marketing
                        </div>
                    </li>
                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            Session 4
                        </div>
                        <div class="item-title">
                            Facebook Ads
                        </div>
                    </li>
                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            Session 5
                        </div>
                        <div class="item-title">
                            Search Engine Optimization
                        </div>
                    </li>
                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            Session 6
                        </div>
                        <div class="item-title">
                            Email Marketing
                        </div>
                    </li>
                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            Session 7
                        </div>
                        <div class="item-title">
                            Digital Marketing Analysis and Tools Required
                        </div>
                    </li>
                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            Session 8
                        </div>
                        <div class="item-title">
                            Facebook Organic Campaign Strategy
                        </div>
                    </li>
                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            Session 9
                        </div>
                        <div class="item-title">
                            Linked In Marketing
                        </div>
                    </li>
                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            Session 10
                        </div>
                        <div class="item-title">
                            Twitter Marketing
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    </div>
    <section id="op">
        <div class="contact-title">
            <h2>Organizing Partner</h2>
        </div>
        <div class="img-fluid">
            <a href="https://eduvitae.co.in/" target="_blank"><img class="col-lg-4 col-md-4"
                    src="./organisingpartner.png" alt="op" /></a>
        </div>
    </section>


    <!--Contact Page-->
    <section id="contact">
        <div class="contact-title">
            <h2>Contact Details</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="contact-item d-flex">
                    <div class="circle">
                        <img src="./1293388.png" alt="" width="40px" height="40px" style="filter: invert(100%);">
                    </div>
                    <div class="con">
                        <h4 class="title"><a href="#" onclick="title()">Vinay Kumar</a></h4>
                        <p class="desb">+91 7095139716</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="contact-item d-flex">
                    <div class="circle">
                        <img src="./1293388.png" alt="" width="40px" height="40px" style="filter: invert(100%);">
                    </div>
                    <div class="con">
                        <h4 class="title"><a href="#" onclick="title()">Nihal</a></h4>
                        <p class="desb">+91 7207846103</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Buttion Page-->
    <section id="next">
        <div class="d-flex align-items-center justify-content-center">
            <button class="button" onclick="prevWorkshop()">
                <svg fill="currentColor" height="20" width="20" id="Layer_1" style="enable-background:new 0 0 16 16;"
                    version="1.1" viewBox="0 0 16 16" width="16px" xml:space="preserve"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path
                        d="M15.45,7L14,5.551V2c0-0.55-0.45-1-1-1h-1c-0.55,0-1,0.45-1,1v0.553L9,0.555C8.727,0.297,8.477,0,8,0S7.273,0.297,7,0.555  L0.55,7C0.238,7.325,0,7.562,0,8c0,0.563,0.432,1,1,1h1v6c0,0.55,0.45,1,1,1h3v-5c0-0.55,0.45-1,1-1h2c0.55,0,1,0.45,1,1v5h3  c0.55,0,1-0.45,1-1V9h1c0.568,0,1-0.437,1-1C16,7.562,15.762,7.325,15.45,7z" />
                </svg>
                <p class="prev" style="font-size: 28px;">Home</p>
            </button>
            <!--<button class="button" onclick="nextWorkshop()">
                <p class="next" style="font-size: 28px;">Next</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor"
                    class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                    <path fill-rule="evenodd"
                        d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                </svg>
            </button> -->
        </div>
    </section>
    <a title="Go to Top" href="../index.html">
        <div id="back-top" style="display: block;"> <i class="fa-solid fa-house" style="color: white;"></i>
        </div>
    </a>

    <!--Java Script-->
    <script>
        function title() {
            const ans = "./info.html";
            window.location.href = ans;
        }
    </script>
    <script>
        var cnt1 = document.getElementsByClassName("container1")[0];
        var syl = document.getElementById("syllabus");
        document.getElementsByClassName("line")[0].style.height = `${syl.getBoundingClientRect().top - syl.getBoundingClientRect().bottom}px`
        var lrn = document.getElementById("learn");
        var box = document.getElementById("box1");

    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script>
        let valueDisplay = document.querySelectorAll(".num");
        let interval = 1500;
        let wrap = document.querySelector(".wrappera")
        const observer = new IntersectionObserver(entries => {
            const wrapper = entries[0]
            if (!wrapper.isIntersecting) return
            valueDisplay.forEach((valueDisplay) => {
                let startValue = 0;
                let endValue = parseInt(valueDisplay.getAttribute("data-val"));
                let duration = Math.floor(interval / endValue);
                let counter = setInterval(function () {
                    startValue += 1;
                    valueDisplay.textContent = startValue;
                    if (startValue == endValue) {
                        clearInterval(counter);
                    }
                }, duration)
                observer.unobserve(wrap)
            })
        }, { rootMargin: "-200px" })
        observer.observe(wrap)
    </script>

    <script>
        const downloadPdf = document.querySelector("#download-pdf");
        downloadPdf.addEventListener("click", () => {
            let element = document.createElement("a");
            element.href = "./pdf/Digital-Marketing.pdf";
            element.target = '_blank';
            document.documentElement.appendChild(element);
            element.click();
            document.documentElement.removeChild(element);
            submitForm.click();
        });
    </script>

    <script>
        function prevWorkshop() {
            const prevWorkshopURL = "../index.html";
            window.location.href = prevWorkshopURL;
        }
        function nextWorkshop() {
            const nextWorkshopURL = "./1.MachineLearning.html";
            window.location.href = nextWorkshopURL;
        }
    </script>
</body>

</html>