@import url("./space_ranger/fonts.css");
@import url("./astronomus/af.css");
@import url("./olney/of.css");
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  margin: 0%;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background: url(../WITP/blue-wooden-textured-flooring-background.jpg) fixed;
  background-size: max(100vh, 100vw) max(100vh, 100vw);
}
/*route map*/
.routmap {
  /* background: #232931; */
  width: 540px;
  margin: 0 auto;
  position: relative;
  margin-top: 10%;
  /* box-shadow: 2px 5px 20px rgba(119, 119, 119, 0.5); */
}
#learnpage {
  @media screen and (max-width: 1000px) {
    transform: translateX(-10px);
  }
}
#h2j {
  @media screen and (min-width: 1000px) {
    transform: translateX(-15vw);
  }
}
#btn {
  @media screen and (max-width: 1000px) {
    transform: translateX(-5vw);
  }
}
#back-top {
  background: #c86fff;
  height: 50px;
  width: 50px;
  right: 31px;
  bottom: 18px;
  position: fixed;
  color: #fff;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  line-height: 48px;
  border: 2px solid transparent;
  box-shadow: 0 0 10px 3px rgba(108, 98, 98, 0.2);
}
.leftbox {
  top: -5%;
  left: 5%;
  position: absolute;
  width: 15%;
  height: 110%;
  background-color: rgb(30, 203, 225);
  box-shadow: 3px 3px 15px rgba(119, 119, 119, 0.5);
}
#aboutpage {
  transform: translateX(-2vw);
}
nav {
  margin: 2.6em auto;
}

nav a {
  list-style: none;
  padding: 35px;
  color: #232931;
  font-size: 1.1em;
  display: block;
  transition: all 0.5s ease-in-out;
}

.rightbox {
  padding: 0em 34rem 0em 0em;
  height: 100%;
}

.rb-container {
  font-family: "PT Sans", sans-serif;
  width: 50%;
  margin: auto;
  display: block;
  position: relative;
}

.rb-container ul.rb {
  margin: 2.5em 0;
  padding: 0;
  display: inline-block;
  width: 80vw;
}

.rb-container ul.rb li {
  list-style: none;
  margin: auto;
  margin-left: 5em;
  min-height: 50px;
  border-left: 1px dashed #fff;
  padding: 0 0 50px 30px;
  position: relative;
}

.rb-container ul.rb li:last-child {
  border-left: 0;
}

.rb-container ul.rb li::before {
  position: absolute;
  left: -10px;
  top: -5px;
  content: " ";
  border: 8px solid rgba(255, 255, 255, 1);
  border-radius: 500%;
  background: rgb(30, 203, 225);
  height: 20px;
  width: 20px;
  transition: all 500ms ease-in-out;
}

.rb-container ul.rb li:hover::before {
  border-color: #232931;
  transition: all 1000ms ease-in-out;
}

ul.rb li .timestamp {
  color: rgb(30, 203, 225);
  position: relative;
  font-size: max(2.5vh, 2.5vw);
}

.item-title {
  color: #fff;
  font-size: max(2.2vh, 2vw);
}
/*css for all headings*/
.contact-title {
  font-size: 50vw;
  font-family: "Sub Heading";
  letter-spacing: 3px;
  color: rgb(30, 203, 225);
}

/*common things for all sections*/
#aboutpage,
#learnpage,
#js,
#roadmap,
#pb,
#syllabuspage,
#op,
#contact {
  padding-top: 5%;
  padding-left: 13%;
  padding-bottom: 3%;
  filter: blur(0.5);
}
#contact,
.container2,
.container3 {
  color: white;
}

/*main image*/
.container1 {
  padding: 3%;
}
.container2a {
  padding: 3%;
}
.container2a .main-img img {
  margin-left: 2vw;
  aspect-ratio: 1.5/1;
  @media only screen and (max-width: 1000px) {
    width: 90vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  @media only screen and (min-width: 1000px) {
    width: 44vw;
  }
}
.container1 .main-heading h1 {
  color: white;
  font-size: max(3.5vw, 3.5vh);
  width: 100%;
  text-align: center;
}

/*css for about page*/
.container2 {
  overflow: hidden;
}
#about,
#learn {
  text-align: justify;
  margin-top: 4%;
  background-color: rgba(128, 128, 128, 0.301);
  border-radius: 10px;
  width: 80vw;
  font-size: 1.5rem;
  font-family: "PT Sans", sans-serif;
}
#syllabus {
  transform: translateX(-8vw);
  font-size: 5px;
}
@media only screen and (max-width: 767px) {
  #about,
  #learn,
  #syllabuspage li {
    font-size: 1rem;
  }
}
#about h2,
#learn h2 {
  margin-bottom: 5%;
  animation: weight 2s 1;
  animation-delay: calc(var(--char-index) * 150ms);
}

/*css for download section*/
#btn {
  padding-left: 10%;
  font-size: 1.2em;
}
#btn .reg {
  color: #090909;
  padding: 0.7em 1.7em;
  border-radius: 0.5em;
  background: rgb(30, 203, 225);
  border: 1px solid black;
  transition: all 0.3s;
  position: relative;
  font-family: "Content";
  @media only screen and (min-width: 1000px) {
    margin-left: 0;
  }
}
#btn .reg:active {
  color: rgb(30, 203, 225);
}
#btn .down {
  position: relative;
  width: 144px;
  height: 58px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid black;
  background-color: rgb(30, 203, 225);
  overflow-x: hidden;
  margin-left: 2%;
  padding: 0;
  border-radius: 0.5em;
}
#btn .down,
.button__icon,
.button__text {
  transition: all 0.3s;
}
#btn .down .button__text {
  transform: translateX(20px);
  color: #000;
  font-family: "Content";
}
#btn .down .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: rgb(30, 203, 225);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
}
#btn .down .svg {
  width: 20px;
}
#btn .down:hover {
  background: rgb(30, 203, 225);
}
#btn .down:hover .button__text {
  color: transparent;
}
#btn .down:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}
#btn .down:active .button__icon {
  background-color: rgb(30, 203, 225);
}
#btn .down:active {
  border: 1px solid rgb(30, 203, 225);
}

/*css for learn page*/
#learnpage #box1,
#learnpage #box2 {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid rgb(30, 203, 225);
}
#learn {
  position: relative;
}
#learnpage #box1 {
  font-family: "Content";
  border-bottom: none;
  border-left: none;
  position: absolute;
  top: -50px;
  right: -50px;
}
#learnpage #box2 {
  font-family: "Content";
  border-top: none;
  border-right: none;
  position: relative;
  top: -50px;
  left: -50px;
}
@media only screen and (max-width: 767px) {
  #learnpage #box1 {
    top: -10px;
    right: -10px;
  }
  #learnpage #box2 {
    top: -90px;
    left: -10px;
  }
}
.show {
  transform: translateX(0);
}

/**/
#js {
  padding-top: 5%;
  padding-bottom: 0%;
  @media (max-width: 767px) {
    padding-top: 20%;
  }
}
#js .wrappera {
  position: relative;
  width: 80vw;
  transform: translate(-50%, 0%);
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  font-family: "Content";
  @media screen and (max-width: 1000px) {
    transform: translate(-57.5%,-15%);
  }
}
#js .containera {
  width: 28vmin;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em 0;
  position: relative;
  font-size: 16px;
  border-radius: 0.5em;
  background-color: transparent;
  @media (max-width: 767px) {
    font-size: 14px;
    padding: 0.5em 0;
  }
}
#js i {
  color: rgb(30, 203, 225);
  font-size: 2.5rem;
  text-align: center;
}
#js span.num {
  color: white;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 3em;
}
#js span.text {
  color: white;
  font-size: 1.3em;
  text-align: center;
  pad: 0.7em 0;
  font-weight: 400;
  /* line-height: 0; */
}
@media screen and (max-width: 1024px) {
  .wrappera {
    width: 85vw;
  }
  .containera {
    height: 26vmin;
    width: 26vmin;
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .wrappera {
    width: 90vw;
    flex-wrap: wrap;
    gap: 30px;
  }
  .containera {
    width: calc(50% - 40px);
    height: 30vmin;
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .wrappera {
    gap: 15px;
  }
  .containera {
    width: 100%;
    height: 25vmin;
    font-size: 8px;
  }
}

/*css for perks and benefits page*/
#pb .masonry-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px;
  margin-left: 0;
  margin-top: 4%;
  justify-content: center;
}
@media only screen and (max-width: 767px) {
  #pb .masonry-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
#pb .masonry-item {
  margin-right: 2%;
}
#pb .book {
  position: relative;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  background-color: whitesmoke;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
}
#pb .cover {
  top: 0;
  position: absolute;
  background-color: lightgray;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-100deg);
  -ms-transform: rotatey(-100deg);
  transform: rotatey(-100deg);
}
#pb .book p {
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: center !important;
}

/*CSS FOR ROADMAP PAGE*/
#syllabus ul {
  @media only screen and (max-width: 767px) {
    padding-left: 3%;
  }
}
#syllabus ul {
  color: white;
  text-align: center;
  list-style: none;
  font-family: "Content";
  /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;*/
}
@media (max-width: 767.98px) {
  #syllabus ul svg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
#syllabus ul li {
  font-size: 1.5rem;
  width: 50vw;
  background-color: rgba(128, 128, 128, 0.308);
  padding: 40px auto;
  border-radius: 5px;
  box-shadow: 2px 3px 4px cadetblue;
  @media only screen and (max-width: 767px) {
    width: 70vw;
  }
}

/*css for Organizing Partner*/
#op .img-fluid {
  /*or gap between heading and contents*/
  padding-top: 4%;
  padding-left: 7%;
  @media only screen and (max-width: 767px) {
    padding-bottom: 4%;
  }
}
#op .img-fluid img {
  @media only screen and (max-width: 767px) {
    width: 286px;
    height: 100px;
  }
}

/*css for contact section*/
#contact .row {
  padding-top: 4%; /*for gap between heading and contents*/
  font-family: "Content";
}
#contact .title a {
  font-size: 100;
  text-decoration: none;
  color: rgba(30, 203, 225, 0.4);
}
#contact .title a:hover {
  color: rgb(30, 203, 225);
}
#contact .contact-item {
  align-items: center;
  margin-bottom: 20px;
}
#contact .circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact .con {
  padding-left: 3%;
}
.circle svg {
  transition: opacity 0.25s;
  cursor: pointer;
}
.circle svg {
  transform: scale(1);
}
.circle .social-link1,
.circle .social-link2 {
  transition: 0.25s;
}

/*css for end buttons section*/
#next {
  padding-bottom: 5%;
}
.button {
  margin: 0;
  border: none;
  background: none;
}
.button {
  --primary-color: white;
  --hovered-color: rgb(30, 203, 225);
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 1.5rem;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  color: white;
}
.button p {
  margin: 0;
  position: relative;
  font-size: 1.5rem;
  color: var(--primary-color);
}
.button::after {
  position: relative;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}
.button ::before {
  position: absolute;
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}
.button .prev::before {
  content: "Home" !important;
}
.button .next::before {
  content: "Next";
}
.button p:hover::after {
  width: 100%;
}
.button:hover p::before {
  width: 100%;
}
.button:hover svg {
  transform: translateX(4px);
  color: var(--hovered-color);
}
.button svg {
  color: var(--primary-color);
  transition: 0.2s;
  position: relative;
  width: 40px;
  transition-delay: 0.2s;
}
.button .prev svg {
  color: var(--primary-color);
  transition: 0.2s;
  position: relative;
  width: 15px;
  transition-delay: 0.2s;
}
.prev,
.next {
  font-family: "Content";
}
